<<<<<<< Updated upstream
/* ========================================
   VARIABELEN
======================================== */

:root {
  --void-black: #080808;
  --bone: #f0efe7;
  --acid-lime: #c8ff00;
  --raw-silver: #aaaaaa;
  --dark-grey: #292929;
}

/* ========================================
   RESET
======================================== */

* {
  box-sizing: border-box;
}

body,
h1,
h2,
p {
  margin: 0;
=======
:root{
    --acid-lime: #C8FF00;
    --void-black: #080808;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

h1{
    color: var(--acid-lime);
>>>>>>> Stashed changes
}
